@model MarginTrading.Common.Documentation.MethodDocInfo[]
@{
    var guid = Guid.NewGuid().ToString();
}

<div class="panel-group" id="accordion@(guid)" role="tablist" aria-multiselectable="true">
    @foreach (var rpc in Model)
    {
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="(@rpc.Id)Header">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion@(guid)" href="#@rpc.Id" aria-expanded="false" aria-controls="@rpc.Id">
					    <b>@rpc.Name</b> - <i>@rpc.Description</i>
					</a>
				</h4>
			</div>
			<div id="@rpc.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@(rpc.Id)Header">
				<div class="panel-body">
					<table class="table">
						<tr>
							<th style="width: 20%">Input</th>
							<th style="width: 50%">Output</th>
							<th style="width: 30%">Description</th>
						</tr>
						<tr>
							<td>
								@if (rpc.InputTypes?.Length > 0)
								{
								<a class="btn btn-link" role="button" data-toggle="collapse" href="#@(rpc.Id)InputInfo" aria-expanded="false" aria-controls="@(rpc.Id)InputInfo">
									@rpc.Input
								</a>
								<div class="collapse" id="@(rpc.Id)InputInfo" data-parent="#@(rpc.Id)InputInfo">
									@Html.Partial("TypesListParial", rpc.InputTypes)
								</div>
								}
								else
								{
								@rpc.Input
								}
							</td>
							<td>
								@if (rpc.OutputTypes?.Length > 0)
								{
								<a class="btn btn-link" role="button" data-toggle="collapse" href="#@(rpc.Id)Info" aria-expanded="false" aria-controls="@(rpc.Id)Info">
									@rpc.Output
								</a>
								<div class="collapse" id="@(rpc.Id)Info" data-parent="#@(rpc.Id)Info">
									@Html.Partial("TypesListParial", rpc.OutputTypes)
								</div>
								}
								else
								{
								@rpc.Output
								}
							</td>
							<td>@rpc.Description</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
    }
</div>